/* Rename and change import statement in style/index.scss
 - Only styles that will be exported with the modules should be imported using partials.
 - Required default styles should be added and imported from demo/src.
*/
body {
	background-color: red;
}
