@import "typography";
@import "../style/index";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body { margin: 0; padding: 10px; }

.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after {content: "";display: table; }
.clearfix:after { clear: both; }

.select-rect {
	width: 500px;

	img {
		width: 100%;
	}
}
